@media screen and (max-width: 1510px) {
    #services-section .service-card-wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-left: 28px;
        width: 90%;
    }
    #services-section .service-image-wrap {
        width: 100%;
        height: 20rem;
    }
    #services-section .service-image-text {
        top: 50%;
        left: 2rem;
        width: 460px;
        height: auto;
        -webkit-transform: translate(0%, -50%) rotate(0);
        -ms-transform: translate(0%, -50%) rotate(0);
        transform: translate(0%, -50%) rotate(0);
    }
}
@media screen and (max-width: 1360px) {
    #toggle-bar {
        display: block;
    }
    #big-offer-soon-section .hot-deals {
        height: 920px;
    }
    #big-offer-soon-section .hot-deals .countdown-wrap {
        margin-top: 4rem;
        padding-bottom: 3rem;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    #big-offer-soon-section .countdown-wrap .timer {
        margin: 3rem;
    }
    #big-offer-soon-section .countdown-wrap .timer .timer-bg {
        -webkit-transform: rotate(55deg);
        -ms-transform: rotate(55deg);
        transform: rotate(55deg);
    }
    #contact-us-section .contact-section {
        height: 120vh;
    }
    #contact-us-section .form-area .form-wrap {
        width: 90%;
        height: 620px;
    }
}
@media screen and (max-width: 1280px) {
    #card-text-section .new-arrivals-products {
        width: calc(100% - 360px);
    }
    #second-card-text-section .new-arrivals-products {
        width: calc(100% - 360px);
    }
}
@media screen and (max-width: 1240px) {
    #call-to-action-section .call-to-action-details {
        padding-left: 2.4rem;
    }
}
@media screen and (max-width: 1189px) {
    #header-section .logo {
        margin-left: 1px;
    }
    #header-section .nav-link {
        margin-left: 13px;
        font-weight: bold;
        font-size: 1.10rem;
        transition: all 0.5s ease;
        color: #333333 !important;
        font-family: 'Work Sans', sans-serif;
    }
    #header-section .search-form {
        display: flex;
        margin-top: 3px;
        margin-left: 10px;
        height: 35px;
    }
    #header-section .socmeds {
        display: flex;
        margin-left: 5px;
    }
    #featured-products-section .row {
        width: 1030px;
    }
    #featured-products-section .card {
        width: 15rem;
        border-style: none;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    #featured-products-section .featured-products-off {
        background-image: linear-gradient(to right, #FF4500 , #FF0000);
        width: 80px;
        height: 30px;
        position: absolute;
        margin-left: 150px;
        margin-top: 12px;
    }
}
@media screen and (max-width: 1170px) {
    #header-section .logo {
        margin-left: 1px;
    }
    #header-section .nav-link {
        margin-left: 10px;
        font-weight: bold;
        font-size: 1.10rem;
        transition: all 0.5s ease;
        color: #333333 !important;
        font-family: 'Work Sans', sans-serif;
    }
    #header-section .search-form {
        display: flex;
        margin-top: 3px;
        margin-left: 10px;
        height: 35px;
    }
    #header-section .socmeds {
        display: flex;
        margin-left: 5px;
    }
}
@media screen and (max-width: 1149px) {
    #header-section .logo {
        margin-left: 1px;
    }
    #header-section .nav-link {
        margin-left: 5px;
        font-weight: bold;
        font-size: 1.10rem;
        transition: all 0.5s ease;
        color: #333333 !important;
        font-family: 'Work Sans', sans-serif;
    }
    #header-section .search-form {
        display: flex;
        margin-top: 3px;
        margin-left: 10px;
        height: 35px;
    }
    #header-section .socmeds {
        display: flex;
        margin-left: 1px;
    }
}
@media screen and (max-width: 1116px) {
    #featured-products-section .row {
        width: 1000px;
    }
    #featured-products-section .card {
        width: 14rem;
        border-style: none;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    #featured-products-section .featured-products-off {
        background-image: linear-gradient(to right, #FF4500 , #FF0000);
        width: 80px;
        height: 30px;
        position: absolute;
        margin-left: 120px;
        margin-top: 12px;
    }
}
@media screen and (max-width: 1104px) {
    #header-section .logo {
        margin-left: 1px;
    }
    #header-section .nav-link {
        margin-left: 5px;
        font-weight: bold;
        font-size: 1.10rem;
        transition: all 0.5s ease;
        color: #333333 !important;
        font-family: 'Work Sans', sans-serif;
    }
    #header-section .search-form {
        display: flex;
        margin-top: 3px;
        margin-left: 10px;
        height: 35px;
    }
    #header-section .socmeds {
        display: flex;
        margin-left: 1px;
    }
    #header-section .form-control {
        position: static;
        border-radius: 0px;
        border-style: none;
        width: 270px;
    }
}
@media screen and (max-width: 1143px) {
    #featured-products-section .row {
        width: 950px;
    }
    #featured-products-section .card {
        width: 14rem;
        border-style: none;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    #featured-products-section .featured-products-off {
        background-image: linear-gradient(to right, #FF4500 , #FF0000);
        width: 80px;
        height: 30px;
        position: absolute;
        margin-left: 120px;
        margin-top: 12px;
    }
}
@media screen and (max-width: 1140px) {
    #call-to-action-section .cta-save-per {
        font-size: 2.2rem;
    }
    #call-to-action-section .cta-offer-title, .cta-offer-price {
        font-size: 3.4rem;
    }
    #call-to-action-section .cta-offer-msg {
        font-size: 1.4rem;
    }
    #call-to-action-section .cta-button {
        font-size: 1.6rem;
    }
}
@media screen and (max-width: 1090px) {
    #header-section .logo {
        margin-left: 1px;
    }
    #header-section .nav-link {
        margin-left: 1px;
        font-weight: bold;
        font-size: 1.10rem;
        transition: all 0.5s ease;
        color: #333333 !important;
        font-family: 'Work Sans', sans-serif;
    }
    #header-section .search-form {
        display: flex;
        margin-top: 3px;
        margin-left: 1px;
        height: 35px;
    }
    #header-section .socmeds {
        display: flex;
        margin-left: 1px;
    }
    #header-section .form-control {
        position: static;
        border-radius: 0px;
        border-style: none;
        width: 200px;
    }
}
@media screen and (max-width: 1040px) {
    #contact-us-section .contact-area .contact-info {
        margin-left: 3rem;
    }
    #contact-us-section .contact-area .contact-form {
        padding: 0 1.8rem;
    }
}
@media screen and (max-width: 1000px) {
    #call-to-action-section .call-to-action-details {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: auto;
        width: 100%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 3rem 0 0 0;
    }
}
@media screen and (max-width: 991px) {
    #featured-products-section .row {
        width: 800px;
    }
    #featured-products-section .card {
        width: 12rem;
        border-style: none;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    #featured-products-section .featured-products-off {
        background-image: linear-gradient(to right, #FF4500 , #FF0000);
        width: 80px;
        height: 30px;
        position: absolute;
        margin-left: 100px;
        margin-top: 12px;
    }
}
@media screen and (max-width: 980px) {
    #customer-review-section .review-items .review-content {
        width: 98%;
    }
}
@media screen and (max-width: 940px) {
    #contact-us-section .contact-section {
        height: 162vh;
    }
    #contact-us-section .form-area .form-wrap {
        padding-bottom: 3.6rem;
        width: 80%;
        height: auto;
    }
    #contact-us-section .form-wrap .contact-area {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    #contact-us-section .contact-area .contact-info {
        width: 50%;
        margin-left: 4rem;
    }
    #contact-us-section .contact-area .contact-form {
        width: 100%;
        padding: 1rem 4rem 0 4rem;
    }
    nav .search-box {
        width: 18rem;
    }
    nav.active .search-box {
        width: 18rem;
    }
    #big-offer-soon-section .countdown-wrap .timer .timer-bg {
        height: 190px;
        width: 190px;
    }
    #big-offer-soon-section .countdown-wrap .timer {
        margin: 2rem;
    }
    .cart-contents-area .cart-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: auto;
    }
    .cart-content .cart-image-area {
        height: 380px;
        width: 100%;
    }
}
@media screen and (max-width: 920px) {
    #featured-products-section .row {
        width: 750px;
    }
    #featured-products-section .card {
        width: 11rem;
        border-style: none;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    #featured-products-section .featured-products-off {
        background-image: linear-gradient(to right, #FF4500 , #FF0000);
        width: 80px;
        height: 30px;
        position: absolute;
        margin-left: 90px;
        margin-top: 12px;
    }
}
@media screen and (max-width: 880px) {
    .hero {
        height: 400px;
    }
    .hero-image {
        height: 82%;
        width: 320px;
    }
    .hero-description .hero-title {
        font-size: 2rem;
    }
    .hero-description button {
        font-size: 1.2rem;
        height: 3rem;
        width: 8rem;
    }
}
@media screen and (max-width: 858px) {
    #card-text-section .new-arrivals-news h1 {
        color: #343236 !important;
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 0.1rem;
        margin-left: 40px;
        padding-right: 1rem;
        line-height: 2.60rem;
        font-family: 'Work Sans', sans-serif;
    }
    #second-card-text-section .new-arrivals-news h1 {
        color: #343236 !important;
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 0.1rem;
        margin-left: 40px;
        padding-right: 1rem;
        line-height: 2.60rem;
        font-family: 'Work Sans', sans-serif;
    }
}
@media screen and (max-width: 825px) {
    #featured-products-section .row {
        width: 700px;
    }
    #featured-products-section .card {
        width: 10rem;
        border-style: none;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    #featured-products-section .featured-products-off {
        background-image: linear-gradient(to right, #FF4500 , #FF0000);
        width: 80px;
        height: 30px;
        position: absolute;
        margin-left: 70px;
        margin-top: 12px;
    }
}
@media screen and (max-width: 780px) {
    #card-text-section .new-arrivals {
        height: auto;
    }
    #card-text-section .new-arrivals-wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    #card-text-section .new-arrivals-news {
        width: 100%;
    }
    #card-text-section .new-arrivals-products {
        margin-top: 2rem;
        width: 100%;
        height: 240px;
    }
    #card-text-section .new-arrival-card {
        margin: 0 20px 0 0;
    }
    #second-card-text-section .new-arrivals {
        height: auto;
    }
    #second-card-text-section  .new-arrivals-wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    #second-card-text-section .new-arrivals-news {
        width: 100%;
    }
    #second-card-text-section .new-arrivals-products {
        margin-top: 2rem;
        width: 100%;
        height: 240px;
    }
    #second-card-text-section .new-arrival-card {
        margin: 0 20px 0 0;
    }
    #big-offer-soon-section .hot-deals {
        height: 890px;
    }
}
@media screen and (max-width: 764px) {
    #big-offer-soon-section .hot-deals .section-wrap {
        padding: 2rem 4rem;
    }  
    #recent-collections-section .collection-title {
        border-bottom: dashed gray;
        width: 380px;
    }
    #recent-collections-section .card {
        width: 10rem;
    }
    #recent-collections-section .card > img {
        height: 180px;
    }
    #featured-products-section .collection-title {
        border-bottom: dashed gray;
        width: 380px;
    }
    #featured-products-section .card {
        width: 20rem;
    }
    #featured-products-section .card > img {
        height: 250px;
    }
    #featured-products-section .vegetable-collections {
        font-weight: bold;
        font-family: 'Work Sans', sans-serif;
    }
    #featured-products-section .heart-featured {
        background-color: #61790A;
        width: 25px;
        height: 25px;
        position: absolute;
        margin-top: 12px;
        margin-left: 15px;
        border-radius: 15%;
    }
    #featured-products-section .fa-heart {
        color: white;
        margin-top: 4px;
        margin-left: 4.50px;
    }
    #featured-products-section .featured-products-off {
        background-image: linear-gradient(to right, #FF4500 , #FF0000);
        width: 80px;
        height: 30px;
        position: absolute;
        margin-left: 220px;
        margin-top: 12px;
    }
    #great-deals-section .great-deals-product-wrap {
        margin-top: 100px;
    }
    #overview-section .section-title > h2 {
        font-weight: bold;
        font-family: 'Work Sans', sans-serif;
        font-size: 1.80rem;
        width: 450px;
        color: #316131;
    }
    #overview-section .card {
        width: 360px;
    }
    #overview-section .card > img {
        height: 250px;
    }
}
@media screen and (max-width: 760px) {
    #big-offer-soon-section .countdown-wrap .timer .timer-bg {
        height: 200px;
        width: 200px;
    }
    #contact-us-section .contact-section {
        height: 1100px;
    }
    #contact-us-section .form-area .form-wrap {
        width: 88%;
        height: auto;
    }
    #big-offer-soon-section .countdown-wrap .timer {
        margin: 2.4rem;
    }
}
@media screen and (max-width: 680px) {
    #contact-us-section .contact-section {
        height: 1100px;
    }
    #contact-us-section .contact-area .contact-info {
        width: 70%;
    }
    #contact-us-section .form-area .form-wrap {
        top: -82%;
        width: 88%;
        height: auto;
    }
    #big-offer-soon-section .hot-deals {
        height: 1420px;
    }
}
@media screen and (max-width: 640px) {
    #services-section .service-image-wrap {
        height: 34rem;
    }
    #services-section .service-image-text {
        top: 50%;
        left: 50%;
        width: 90%;
        height: auto;
        -webkit-transform: translate(-50%, -50%) rotate(0);
        -ms-transform: translate(-50%, -50%) rotate(0);
        transform: translate(-50%, -50%) rotate(0);
    }
}
@media screen and (max-width: 570px) {
    #big-offer-soon-section .hot-deals .hot-deals-title h1 {
        font-size: 2.4rem;
    }
    #contact-us-section .contact-area .contact-info {
        width: 80%;
    }
}
@media screen and (max-width: 490px) {
    #big-offer-soon-section .section-wrap {
        padding: 2rem 1rem;
    }
    #big-offer-soon-section .hot-deals .section-wrap {
        padding: 2rem 1rem;
    }
    #customer-review-section .customer-review .review-items {
        margin: 2rem 0 0 0;
    }
    #call-to-action-section .call-to-action-image {
        height: 320px;
    }
    #call-to-action-section .cta-save-per {
        font-size: 2rem;
    }
    #call-to-action-section .cta-offer-title, .cta-offer-price {
        font-size: 3rem;
    }
    #call-to-action-section .cta-offer-msg {
        font-size: 1.2rem;
    }
    #call-to-action-section .cta-button {
        font-size: 1.2rem;
        height: 3rem;
        width: 8rem;
    }
    #customer-review-section .customer-review {
        height: auto;
    }
    #customer-review-section .review-content .review-text {
        font-size: 0.98rem;
    }
    #call-to-action-section .call-to-action-image {
        margin-top: 1.2rem;
    }
    #call-to-action-section .call-to-action-details {
        padding-bottom: 1.2rem;
    }
    #contact-us-section .contact-section {
        height: 1100px;
    }
    #contact-us-section .contact-area .contact-info {
        width: 80%;
        margin-left: 1.2rem;
    }
    #contact-us-section .form-area .form-wrap {
        top: -82%;
        width: 88%;
        height: auto;
    }
    #contact-us-section .contact-info > div > p {
        font-size: 1.2rem;
    }
    #contact-us-section .contact-area .contact-form {
        margin-top: 1.4rem;
        padding: 0 1.2rem;
    }
}
@media screen and (max-width: 440px) {
    #customer-review-section .customer-review .review-items {
        margin-top: 1rem;
    }
}
@media screen and (max-width: 420px) {
    #great-deals-section .great-deals-timer .gd-timer {
        height: 78px;
        width: 78px;
    }
    #great-deals-section .gd-timer > div > p {
        font-size: 1.1rem;
    }
    #great-deals-section .gd-rating-box p strong {
        font-size: 1.4rem;
    }
    #great-deals-section .gd-button button {
        font-size: 1.1rem;
        height: 2.4rem;
        width: 6rem;
    }
    #great-deals-section .gd-rating-and-action {
        margin-top: 0.8rem;
    }
}
@media screen and (max-width: 390px) {
    #toggle-bar {
        height: 1.4rem;
        width: 1.2rem;
    }
    #toggle-bar .toggler {
        height: 2px;
    }
    #toggle-bar .toggler::before {
        height: 2px;
    }
    #toggle-bar .toggler::after {
        height: 2px;
    }
    #card-text-section .new-arrivals {
        padding-top: 1rem;
    }
    #second-card-text-section .new-arrivals {
        padding-top: 1rem;
    }
    #services-section .service-image-text h1 {
        font-size: 2.2rem;
    }
    #big-offer-soon-section .hot-deals .hot-deals-title h1 {
        font-size: 2rem;
    }
    #faq-section .faq-title {
        font-size: 1.4rem;
    }
    #call-to-action-section .call-to-action-image {
        height: 300px;
    }
    #call-to-action-section .cta-save-per {
        font-size: 1.8rem;
    }
    #call-to-action-section .cta-offer-title, .cta-offer-price {
        font-size: 2.6rem;
    }
    #call-to-action-section .cta-offer-msg {
        font-size: 1rem;
    }
    #call-to-action-section .cta-button {
        font-size: 1.1rem;
        height: 2.8rem;
        width: 7.2rem;
    }
    #contact-us-section .contact-section {
        height: 1100px;
    }
    #contact-us-section .contact-area .contact-info {
        width: 80%;
        margin-left: 1.2rem;
    }
    #contact-us-section .form-area .form-wrap {
        width: 90%;
        height: auto;
    }
    #contact-us-section .contact-info > div > p {
        font-size: 1.2rem;
    }
    #contact-us-section .contact-area .contact-form {
        width: 100%;
        padding: 1rem 1rem 0 1rem;
    }
}
@media screen and (max-width: 370px) {
    #great-deals-section .great-deals-timer .gd-timer {
        height: 75px;
        width: 75px;
    }
    #great-deals-section .gd-timer > div > p {
        font-size: 1rem;
    }
    #customer-review-section .customer-review .review-items {
        margin-top: 0.4rem;
    }
}
@media screen and (max-width: 340px) {
    #customer-review-section .review-content .review-text {
        font-size: 0.9rem;
    }
    #contact-us-section .contact-section {
        height: 980px;
    }
    #contact-us-section .form-area .form-wrap {
        top: -86%;
        width: 96%;
    }
    #contact-us-section .contact-area .contact-info {
        width: 80%;
        margin-left: 1rem;
    }
    #contact-us-section .form-wrap .title h1 {
        font-size: 2rem;
    }
    #contact-us-section .contact-info > h2 {
        font-size: 1.6rem;
    }
    #contact-us-section .contact-info > div > p {
        font-size: 1rem;
    }
    #contact-us-section .contact-info > div > span {
        font-size: 1.2rem;
    }
}