* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Josefin Sans', sans-serif;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body {
    position: relative;
    width: 100%;
}

/* ---------------------------HEADER SECTION START--------------------------- */
/* ---------------------------HEADER SECTION START--------------------------- */
/* ---------------------------HEADER SECTION START--------------------------- */
#header-section {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
}
#header-section .navbar {
    background-color: whitesmoke;
}
#header-section .logo {
    margin-left: 4rem;
}
#header-section .logo > a {
    color: #316131;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
}
#header-section .logo > a > span {
    color: #316131;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
}
#header-section .navs {
    display: flex;
    margin-left: 18px;
}
#header-section .nav-link {
    margin-left: 25px;
    font-weight: bold;
    font-size: 1.10rem;
    transition: all 0.5s ease;
    color: #333333 !important;
    font-family: 'Work Sans', sans-serif;
}
#header-section .nav-link:hover {
    color: orangered !important;
}
#header-section .search-form {
    display: flex;
    margin-top: 3px;
    margin-left: 65px;
    height: 35px;
}
#header-section .glass {
    background-color: #316131;
    position: static;
    margin-right: 3px;
    width: 55px;
    height: 100%;
    border-radius: 2px;
}
#header-section .fa-magnifying-glass {
    color: white;
    font-size: 1.20rem;
    margin-top: 8px;
    margin-left: 19px;
}
#header-section .form-control {
    position: static;
    border-radius: 0px;
    border-style: none;
    width: 300px;
}
#header-section .socmeds {
    display: flex;
    margin-left: 25px;
}
#header-section .socmeds .fa-solid {
    font-size: 1.20rem;
    color: #333333;
    transition: all 0.5s ease;
}
#header-section .socmeds .fa-solid:hover {
    color: orangered !important;
}
/* ---------------------------HEADER SECTION END--------------------------- */
/* ---------------------------HEADER SECTION END--------------------------- */
/* ---------------------------HEADER SECTION END--------------------------- */




/* ---------------------------CAROUSEL SECTION START--------------------------- */
/* ---------------------------CAROUSEL SECTION START--------------------------- */
/* ---------------------------CAROUSEL SECTION START--------------------------- */
#carousel-section {
    margin-top: 65px;
}
#carousel-section .scroll-ticker {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 24px;
    position: absolute;
    z-index: 2;
}
#carousel-section .scroll-ticker marquee > p {
    color: white;
    font-family: 'Work Sans', sans-serif;
}
#carousel-section .c-item {
    height: 480px;
}
#carousel-section .c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
} 
#carousel-section .carousel-caption .btn {
    background-color: #316131;
    color: white;
}
/* ---------------------------CAROUSEL SECTION END--------------------------- */
/* ---------------------------CAROUSEL SECTION END--------------------------- */
/* ---------------------------CAROUSEL SECTION END--------------------------- */




/* ---------------------------CARD TEXT SECTION START--------------------------- */
/* ---------------------------CARD TEXT SECTION START--------------------------- */
/* ---------------------------CARD TEXT SECTION START--------------------------- */
#card-text-section .new-arrivals-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
#card-text-section .new-arrivals {
    padding-top: 3rem;
    width: 99%;
    height: 300px;
}
#card-text-section .new-arrivals-news {
    width: 30%;
}
#card-text-section .new-arrivals-news h1 {
    color: #343236 !important;
    font-size: 2.6rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
    margin-left: 40px;
    padding-right: 1rem;
    line-height: 3rem;
    font-family: 'Work Sans', sans-serif;
}
#card-text-section .new-arrivals-news p {
    color: #343236 !important;
    font-size: 1.4rem;
    margin-left: 40px;
    font-weight: bold;
    margin-bottom: 0.8rem;
    font-family: 'Work Sans', sans-serif;
}
#card-text-section .new-arrivals-news button {
    margin-top: 0.4rem;
    color: white;
    margin-left: 40px;
    font-size: 1.2rem;
    height: 2.6rem;
    width: 8rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0.1rem;
    background: #316131;
    font-family: 'Work Sans', sans-serif;
}
#card-text-section .new-arrivals-products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 70%;
    overflow: hidden;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
#card-text-section .new-arrival-card {
    margin-left: 20px;
    position: relative;
    min-width: 305px;
    height: 100%;
    overflow: hidden;
    border-radius: 0.1rem;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
#card-text-section .new-arrival-card::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
}
#card-text-section .new-arrival-card-image {
    width: 100%;
    height: 100%;
}
#card-text-section .new-arrival-card-image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
#card-text-section .new-arrival-card-text {
    padding: 1rem 0 1rem 1.4rem;
    position: absolute;
    bottom: 1.6rem;
    left: 0rem;
    width: 14.4rem;
    border-left: 7px solid #459122;
    background: rgba(0, 0, 0, 0.7);
}
#card-text-section .new-arrival-card-text h3 {
    color: white;
    font-size: 1.6rem;
    text-shadow: 0.1rem 0.1rem 1rem #301934;
}
#card-text-section .new-arrival-card-text p {
    padding-top: 0.3rem;
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    text-shadow: 0.1rem 0.1rem 1rem #301934;
}
/* ---------------------------CARD TEXT SECTION END--------------------------- */
/* ---------------------------CARD TEXT SECTION END--------------------------- */
/* ---------------------------CARD TEXT SECTION END--------------------------- */




/* ---------------------------ABOUT SECTION START--------------------------- */
/* ---------------------------ABOUT SECTION START--------------------------- */
/* ---------------------------ABOUT SECTION START--------------------------- */
#about-section {
    margin-top: 60px;
}
#about-section .card-title > h4 {
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#about-section .card-title > h2 {
    color: #316131;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#about-section .card-title > p {
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#about-section .scroll-ticker {
    color: white;

    background: -o-linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url('img/background/green-bg.jpg');

    background: -webkit-gradient(linear, left top, left bottom, 
    from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('img/background/green-bg.jpg');

    background: linear-gradient(rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)), url('img/background/green-bg.jpg');

    background-size: cover;
    background-position: center;
    width: 100%;
    height: 24px;
    z-index: 2;
}
#about-section .scroll-ticker marquee > p {
    font-family: 'Work Sans', sans-serif;
}
#about-section .btn {
    color: white;
    margin-top: 14px;
    font-size: 1.2rem;
    height: 2.6rem;
    width: 8rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0.1rem;
    background: #316131;
    font-family: 'Work Sans', sans-serif;
}
/* ---------------------------ABOUT SECTION END--------------------------- */
/* ---------------------------ABOUT SECTION END--------------------------- */
/* ---------------------------ABOUT SECTION END--------------------------- */




/* ---------------------------SERVICES SECTION START--------------------------- */
/* ---------------------------SERVICES SECTION START--------------------------- */
/* ---------------------------SERVICES SECTION START--------------------------- */
#services-section {
    margin-top: 60px;
}
#services-section .card-title > h3 {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#services-section .card-title > p {
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#services-section .card-line {
    border-bottom: dashed gray;
}
#services-section .service-paragraph {
    display: flex;
}
#services-section .fa-solid {
    color: white;
    background-color: #316131;
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0 0 2px #888;
    padding: 0.5em 0.6em;
    margin-bottom: 15px;
}
#services-section .color-text {
    position: absolute;
    margin-left: 45px;
    margin-top: 4px;
}
#services-section .service-description-list {
    padding-top: 0.6rem;
}
#services-section .service-description-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
#services-section .service-description-list-item > p {
    margin-left: 0.6rem;
    padding: 0 0.2rem 0;
    position: relative;
    cursor: pointer;
}
#services-section .service-description-list-item:hover p {
    color: white;
}
#services-section .service-description-list-item p::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: olivedrab;
    border-radius: 0.1rem;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    z-index: -1;
}
#services-section .service-description-list-item:hover p::before {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    visibility: visible;
}
#services-section .service-list-item-title {
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#services-section .btn {
    color: white;
    font-size: 1.2rem;
    height: 2.6rem;
    width: 8rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0.1rem;
    margin-top: 14px;
    background: #316131;
    font-family: 'Work Sans', sans-serif;
}
#services-section .service-card-wrap {
    margin-top: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 40px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
#services-section .service-image-wrap {
    position: relative;
    width: 25%;
    height: 36.6rem;
}
#services-section .service-image {
    height: 100%;
    width: 100%;
}
#services-section .service-image::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 0.2rem;
}
#services-section .service-image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 0.1rem;
}
#services-section .service-image-text {
    padding: 1.6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 460px;
    height: auto;
    background: white;
    -webkit-transform: translate(-50%, -50%) rotate(-90deg);
    -ms-transform: translate(-50%, -50%) rotate(-90deg);
    transform: translate(-50%, -50%) rotate(-90deg);
}
#services-section .service-image-text h1 {
    color: #316131;
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px dashed gray;
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
}
#services-section .service-image-text p {
    padding-top: 0.8rem;
    color: #333333;
    font-size: 1.50rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
}
#services-section .first-number-card {
    background-color: #316131;
    color: white;
}
#services-section .first-description-card > h3 {
    color: #316131;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#services-section .first-description-card > p {
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#services-section .first-read-more {
    text-decoration: none;
    color: #316131;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#services-section .second-number-card {
    background-color: #6B8E23;
    color: white;
}
#services-section .second-description-card > h3 {
    color: #6B8E23;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#services-section .second-description-card > p {
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#services-section .second-read-more {
    text-decoration: none;
    color: #6B8E23;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#services-section .second-card {
    margin-top: 30px;
}
#services-section .third-number-card {
    background-color: #2F4F4F;
    color: white;
}
#services-section .third-description-card > h3 {
    color: #2F4F4F;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#services-section .third-description-card > p {
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#services-section .third-read-more {
    text-decoration: none;
    color: #2F4F4F;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#services-section .fourth-number-card {
    background-color: #008080;
    color: white;
}
#services-section .fourth-description-card > h3 {
    color: #008080;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#services-section .fourth-description-card > p {
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#services-section .fourth-read-more {
    text-decoration: none;
    color: #008080;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#services-section .third-card {
    margin-top: 30px;
}
#services-section .fifth-number-card {
    background-color: #A52A2A;
    color: white;
}
#services-section .fifth-description-card > h3 {
    color: #A52A2A;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#services-section .fifth-description-card > p {
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#services-section .fifth-read-more {
    text-decoration: none;
    color: #A52A2A;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#services-section .sixth-number-card {
    background-color: #DC143C;
    color: white;
}
#services-section .sixth-description-card > h3 {
    color: #DC143C;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#services-section .sixth-description-card > p {
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#services-section .sixth-read-more {
    text-decoration: none;
    color: #DC143C;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
/* ---------------------------SERVICES SECTION END--------------------------- */
/* ---------------------------SERVICES SECTION END--------------------------- */
/* ---------------------------SERVICES SECTION END--------------------------- */




/* ---------------------------SECOND CARD TEXT SECTION START--------------------------- */
/* ---------------------------SECOND CARD TEXT SECTION START--------------------------- */
/* ---------------------------SECOND CARD TEXT SECTION START--------------------------- */
#second-card-text-section {
    margin-top: 50px;
}
#second-card-text-section .new-arrivals {
    padding-top: 3rem;
    width: 99%;
    height: 300px;
}
#second-card-text-section .new-arrivals-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
#second-card-text-section .new-arrivals-news {
    width: 30%;
}
#second-card-text-section .new-arrivals-news h1 {
    color: #343236 !important;
    font-size: 2.6rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
    margin-left: 40px;
    padding-right: 1rem;
    line-height: 3rem;
    font-family: 'Work Sans', sans-serif;
}
#second-card-text-section .new-arrivals-news p {
    color: #343236 !important;
    font-size: 1.4rem;
    margin-left: 40px;
    font-weight: bold;
    margin-bottom: 0.8rem;
    font-family: 'Work Sans', sans-serif;
}
#second-card-text-section .new-arrivals-news button {
    margin-top: 0.4rem;
    color: white;
    margin-left: 40px;
    font-size: 1.2rem;
    height: 2.6rem;
    width: 8rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0.1rem;
    background: #316131;
    font-family: 'Work Sans', sans-serif;
}
#second-card-text-section .new-arrivals-products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 70%;
    overflow: hidden;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
#second-card-text-section .new-arrival-card {
    margin-left: 20px;
    position: relative;
    min-width: 305px;
    height: 100%;
    overflow: hidden;
    border-radius: 0.1rem;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
#second-card-text-section .new-arrival-card::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
}
#second-card-text-section .new-arrival-card-image {
    width: 100%;
    height: 100%;
}
#second-card-text-section .new-arrival-card-image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
#second-card-text-section .new-arrival-card-text {
    padding: 1rem 0 1rem 1.4rem;
    position: absolute;
    bottom: 1.6rem;
    left: 0rem;
    width: 14.4rem;
    border-left: 7px solid #459122;;
    background: rgba(0, 0, 0, 0.7);
}
#second-card-text-section .new-arrival-card-text h3 {
    color: white;
    font-size: 1.6rem;
    text-shadow: 0.1rem 0.1rem 1rem #301934;
}
#second-card-text-section .new-arrival-card-text p {
    padding-top: 0.3rem;
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    text-shadow: 0.1rem 0.1rem 1rem #301934;
}
/* ---------------------------SECOND CARD TEXT SECTION END--------------------------- */
/* ---------------------------SECOND CARD TEXT SECTION END--------------------------- */
/* ---------------------------SECOND CARD TEXT SECTION END--------------------------- */




/* ---------------------------RECENT COLLECTIONS SECTION START--------------------------- */
/* ---------------------------RECENT COLLECTIONS SECTION START--------------------------- */
/* ---------------------------RECENT COLLECTIONS SECTION START--------------------------- */
#recent-collections-section {
    margin-top: 120px;
}
#recent-collections-section > h2 {
    font-weight: bold;  
    font-family: 'Work Sans', sans-serif;
    font-size: 2.30rem;
}
#recent-collections-section .collection-title {
    border-bottom: dashed gray;
}
#recent-collections-section .collections-background {
    padding-bottom: 10px;
    padding-top: 10px;
}
#recent-collections-section .collections-background > img {
    position: absolute;
    width: 100%;
    height: 750px;
}
#recent-collections-section .first-carousel {
    margin-top: 40px;
}
#recent-collections-section .second-carousel {
    margin-top: 40px;
}
#recent-collections-section .card-wrapper {
    display: flex;
    justify-content: space-around;
}
#recent-collections-section .card {
    width: 18rem;
    border-style: none;
}
#recent-collections-section .card > img {
    height: 250px;
}
#recent-collections-section .card-body {
    background-color: #343236;
    color: white;
}
/* ---------------------------RECENT COLLECTIONS SECTION END--------------------------- */
/* ---------------------------RECENT COLLECTIONS SECTION END--------------------------- */
/* ---------------------------RECENT COLLECTIONS SECTION END--------------------------- */




/* ---------------------------FEATURED PRODUCTS SECTION START--------------------------- */
/* ---------------------------FEATURED PRODUCTS SECTION START--------------------------- */
/* ---------------------------FEATURED PRODUCTS SECTION START--------------------------- */
#featured-products-section {
    margin-top: 200px;
}
#featured-products-section > h2 {
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
    font-size: 2.30rem;
}
#featured-products-section .container-titles {
    display: flex;
    justify-content: space-between;
}
#featured-products-section .featured-collect-collections {
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#featured-products-section .see-more-collections {
    font-size: 1.10rem;
    color: #FF4500;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
    margin-top: 16px;
    text-decoration: none;
}
#featured-products-section .first-card-featured {
    margin-top: 90px;
}
#featured-products-section .other-card-featured {
    margin-top: 60px;
}
#featured-products-section .collection-title {
    border-bottom: dashed gray;
}
#featured-products-section .card {
    width: 16rem;
    border-style: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#featured-products-section .fa-heart {
    color: white;
    margin-top: 5px;
    margin-left: 5px;
    background-color: green;
    padding: 7px;
    width: 29.80px;
    position: absolute;
    margin-top: 12px;
    margin-left: 13px;
}
#featured-products-section .fa-heart:hover, #featured-products-section .fa-heart:focus {
    cursor: pointer;
}
#featured-products-section .fa-heart:active {
    transform: scale(0.96);
}
#featured-products-section .featured-products-off {
    background-image: linear-gradient(to right, #FF4500 , #FF0000);
    width: 80px;
    height: 30px;
    position: absolute;
    margin-left: 160px;
    margin-top: 12px;
}
#featured-products-section .featured-off {
    color: white;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.10rem;
    margin-left: 6px;
    margin-top: 2px;
}
#featured-products-section .card > img {
    height: 200px;
}
/* ---------------------------FEATURED PRODUCTS SECTION END--------------------------- */
/* ---------------------------FEATURED PRODUCTS SECTION END--------------------------- */
/* ---------------------------FEATURED PRODUCTS SECTION END--------------------------- */




/* ---------------------------COMING SOON BIG OFFER SECTION START--------------------------- */
/* ---------------------------COMING SOON BIG OFFER SECTION START--------------------------- */
/* ---------------------------COMING SOON BIG OFFER SECTION START--------------------------- */
#big-offer-soon-section {
    margin-top: 120px;
}
#big-offer-soon-section .hot-deals {
    height: 600px;
    background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('img/background/timer-bg.jpg');
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), 
    to(rgba(0, 0, 0, 0.7))), url('img/background/timer-bg.jpg');
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('img/background/timer-bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#big-offer-soon-section .hot-deals .section-wrap {
    padding: 2rem 8rem;
}
#big-offer-soon-section .hot-deals .hot-deals-title {
    margin-top: 1.4rem;
    width: 100%;
}
#big-offer-soon-section .hot-deals .hot-deals-title h1 {
    color: white;
    font-size: 3rem;
    text-align: center;
    text-shadow: 0.2rem 0.2rem 1rem black;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#big-offer-soon-section .hot-deals .countdown-wrap {
    margin-top: 7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
#big-offer-soon-section .countdown-wrap .timer {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
#big-offer-soon-section .countdown-wrap .timer .timer-bg {
    height: 220px;
    width: 220px;
    background: rgba(255, 255, 255, 0.05);
    -webkit-backdrop-filter: blur(2rem);
    backdrop-filter: blur(2rem);
    border: 3px solid white;
    background-size: cover;
    background-position: center;
    border-radius: 0.2rem;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
#big-offer-soon-section .countdown-wrap .timer .counter {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#big-offer-soon-section .countdown-wrap .timer .counter h1 {
    color: white;
    font-size: 4.6rem;
    text-align: center;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#big-offer-soon-section .countdown-wrap .timer .counter p {
    color: white;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 500;
}
/* ---------------------------COMING SOON BIG OFFER SECTION END--------------------------- */
/* ---------------------------COMING SOON BIG OFFER SECTION END--------------------------- */
/* ---------------------------COMING SOON BIG OFFER SECTION END--------------------------- */




/* ---------------------------GREAT DEALS SECTION START--------------------------- */
/* ---------------------------GREAT DEALS SECTION START--------------------------- */
/* ---------------------------GREAT DEALS SECTION START--------------------------- */
#great-deals-section {
    margin-top: 120px;
}
#great-deals-section .section-title > h2 {
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
    font-size: 2.30rem;
}
#great-deals-section .container-titles{
    border-bottom: dashed gray;
}
#great-deals-section .great-deals-products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
#great-deals-section .great-deals-product-wrap {
    position: relative;
    margin-top: 3rem;
    height: 360px;
    width: 440px;
    background: white;
    border-radius: 0.2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#great-deals-section .great-deals-image {
    position: relative;
    height: 123%;
    width: 100%;
    border-radius: 0 0 0.1rem 0.1rem;
    overflow: hidden;
}
#great-deals-section .great-deals-image::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
#great-deals-section .great-deals-image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
#great-deals-section .great-deals-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
#great-deals-section .great-deals-product-name {
    padding: 1rem;
}
#great-deals-section .gd-product-name {
    color: white;
    font-size: 2rem;
    font-weight: 800;
    text-decoration: underline;
    background: rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    display: inline-block;
}
#great-deals-section .gd-price-and-discount {
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
#great-deals-section .gd-price-box h2 {
    padding: 0.4rem 0.6rem;
    background: #459022;
    border-radius: 0.05rem;
    -webkit-box-shadow: 0 0 1rem 0 black;
    box-shadow: 0 0 1rem 0 black;
}
#great-deals-section .gd-price-box h2 span {
    color: white;
    font-size: 2rem;
    font-weight: 700;
}
#great-deals-section .gd-discount-box {
    padding-left: 0.6rem;
}
#great-deals-section .gd-discount-box .gd-discount {
    color: white;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    font-weight: 500;
    background: red;
    border-radius: 0.05rem;
    -webkit-box-shadow: 0 0 1rem 0 black;
    box-shadow: 0 0 1rem 0 black;
}
#great-deals-section .gd-discount-box p:nth-child(2) {
    padding: 0.2rem;
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
}
#great-deals-section .great-deals-timer {
    margin-top: 0.6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}
#great-deals-section .great-deals-timer .gd-timer {
    display: -ms-grid;
    display: grid;
    height: 90px;
    width: 90px;
    place-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: black;
    border: 3px solid white;
    border-radius: 0.1rem;
}
#great-deals-section .gd-timer > div > h1 {
    color: white;
    font-size: 2.4rem;
    text-align: center;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#great-deals-section .gd-timer > div > p {
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#great-deals-section .offer-ends-date-box {
    margin-top: 1.4rem;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 2rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
#great-deals-section .offer-ends-date-box>p {
    padding: 0.4rem 0.6rem;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    background: #f00534;
    border-radius: 0.05rem;
    -webkit-box-shadow: 0 0 1rem 0 black;
    box-shadow: 0 0 1rem 0 black;
}
#great-deals-section .gd-rating-and-action {
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 4rem;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
#great-deals-section .gd-rating-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
#great-deals-section .gd-rating-box p {
    cursor: pointer;
    margin-right: 0.4rem;
    padding-bottom: 0.4rem;
}
#great-deals-section .gd-rating-box .gd-rating-span {
    margin-top: 0.3rem;
}
#great-deals-section .gd-rating-box .gd-rating-avg {
    margin-top: 0.6rem;
}
#great-deals-section .gd-rating-box p strong {
    color: white;
    font-size: 1.6rem;
    text-shadow: 0.2rem 0.2rem 0.6rem black;
}
#great-deals-section .gd-button button {
    margin-bottom: 0.6rem;
    color: white;
    font-size: 1.2rem;
    border: none;
    outline: none;
    height: 2.4rem;
    width: 7rem;
    cursor: pointer;
    background: #459122;
    border-radius: 0.1rem;
    -webkit-box-shadow: 0 0 1rem 0 black;
    box-shadow: 0 0 1rem 0 black;
}
#great-deals-section .gd-review-count-box {
    display: none;
}
/* ---------------------------GREAT DEALS SECTION END--------------------------- */
/* ---------------------------GREAT DEALS SECTION END--------------------------- */
/* ---------------------------GREAT DEALS SECTION END--------------------------- */




/* ---------------------------FAQ SECTION START--------------------------- */
/* ---------------------------FAQ SECTION START--------------------------- */
/* ---------------------------FAQ SECTION START--------------------------- */
#faq-section {
    margin-top: 210px;
}
#faq-section .faq-section {
    padding: 2rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: -o-linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('img/background/contact-bg.jpg');
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('img/background/contact-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
}
#faq-section .faq-section-wrap {
    display: -ms-grid;
    display: grid;
    width: 100%;
    place-items: center;
}
#faq-section .faq-content {
    padding-top: 1.8rem;
    width: 100%;
    max-width: 900px;
}
#faq-section .faq-content-title h1 {
    padding: 1rem 4rem 1rem 1.2rem;
    color: white;
    text-align: center;
    display: inline-block;
    background: #459122;
    -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#faq-section .faq-content-wrap {
    margin-top: 2rem;
    width: 100%;
    padding: 0.4rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#faq-section .faq-title {
    position: relative;
    padding: 1.2rem 0;
    color: white;
    cursor: pointer;
    font-size: 1.6rem;
    background: transparent;
    text-shadow: 0.2rem 0.2rem 0.6rem black;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#faq-section .faq-title .faq-icon {
    position: absolute;
    right: 0;
    font-size: 1.2rem;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#faq-section .faq-title .faq-icon.active-faq-icon {
    -webkit-transform: rotate(450deg);
    -ms-transform: rotate(450deg);
    transform: rotate(450deg);
}
#faq-section .faq-text {
    padding: 0 1.4rem;
    margin-bottom: 0.6rem;
    background: white;
    border-left: 2px solid #459122;
    height: 0;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#faq-section .faq-text.active-faq-text {
    padding: 1rem 1.4rem;
    height: auto;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    border-left: 7px solid #459122;
}
/* ---------------------------FAQ SECTION END--------------------------- */
/* ---------------------------FAQ SECTION END--------------------------- */
/* ---------------------------FAQ SECTION END--------------------------- */




/* ---------------------------OVERVIEW SECTION START--------------------------- */
/* ---------------------------OVERVIEW SECTION START--------------------------- */
/* ---------------------------OVERVIEW SECTION START--------------------------- */
#overview-section {
    margin-top: 130px;
}
#overview-section .section-title > h2 {
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.80rem;
    width: 950px;
    color: #316131;
}
#overview-section .container-titles{
    border-bottom: dashed gray;
}
#overview-section .card > img {
    height: 250px;
}
#overview-section .other-overview {
    margin-top: 90px;
}
#overview-section .first-tag > p {
    background-color: #F00534;
    color: white;
}
#overview-section .second-tag > p {
    background-color: red;
    color: white;
}
#overview-section .third-tag > p {
    background-color: #459122;
    color: white;
}
#overview-section .card-tag > p {
    width: 90px;
    margin-top: 10px;
    font-size: 1.10rem;
    font-family: 'Work Sans', sans-serif;
}
#overview-section .inside-tag {
    position: absolute;
    z-index: 1;
}
/* ---------------------------OVERVIEW SECTION END--------------------------- */
/* ---------------------------OVERVIEW SECTION END--------------------------- */
/* ---------------------------OVERVIEW SECTION END--------------------------- */




/* ---------------------------BLOGS AND REVIEWS START--------------------------- */
/* ---------------------------BLOGS AND REVIEWS START--------------------------- */
/* ---------------------------BLOGS AND REVIEWS START--------------------------- */
#blogs-reviews-section {
    margin-top: 120px;
}
#blogs-reviews-section .section-title > h2 {
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
    font-size: 2.30rem;
}
#blogs-reviews-section .container-titles {
    border-bottom: dashed gray;
}
#blogs-reviews-section .container-titles-read {
    display: flex;
    justify-content: space-between;
}
#blogs-reviews-section .featured-collect-collections {
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#blogs-reviews-section .see-more-collections {
    font-size: 1.10rem;
    color: #FF4500;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
    margin-top: 16px;
    text-decoration: none;
}
#blogs-reviews-section .blog-wrap {
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
#blogs-reviews-section .blog-content {
    margin-bottom: 3rem;
    height: 320px;
    width: 420px;
    -webkit-box-shadow: 0.6rem 0.6rem 1rem white;
    box-shadow: 0.6rem 0.6rem 1rem white;
    border: 1px solid gray;
    border-radius: 0.1rem;
}
#blogs-reviews-section .blog-content-wrap {
    position: relative;
    width: 100%;
    height: 100%;
}
#blogs-reviews-section .blog-image {
    position: relative;
    height: 100%;
    width: 100%;
    border: 3px solid gray;
    border-radius: 0.1rem;
}
#blogs-reviews-section .blog-image::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
}
#blogs-reviews-section .blog-image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 0.1rem;
}
#blogs-reviews-section .blog-tags {
    position: absolute;
    bottom: 1.4rem;
    left: 1rem;
}
#blogs-reviews-section .blog-tags p {
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#blogs-reviews-section .blog-tags p strong {
    text-shadow: 0.2rem 0.2rem 0.6rem black;
}
#blogs-reviews-section .blog-tags p span {
    padding: 0.2rem 0.6rem;
    margin-left: 0.4rem;
    background: #428921;
    border-radius: 0.1rem;
    -webkit-box-shadow: 0 0 1rem 0 black;
    box-shadow: 0 0 1rem 0 black;
}
#blogs-reviews-section .blog-published-date {
    position: absolute;
    top: 2rem;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 2.6rem;
    width: 12rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: -o-linear-gradient(45deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('img/background/green-bg.jpg');
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('img/background/green-bg.jpg');
    background-size: cover;
    background-position: center;
    -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}
#blogs-reviews-section .blog-published-date p {
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
    margin-top: 17px;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#blogs-reviews-section .blog-title {
    position: absolute;
    bottom: 3.8rem;
    left: 0;
}
#blogs-reviews-section .blog-title a {
    text-decoration: none;
}
#blogs-reviews-section .blog-title a h2 {
    padding: 0.6rem 1rem;
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0 0 0.8rem black;
    box-shadow: 0 0 0.8rem black;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#blogs-reviews-section .blog-title a h2:hover {
    color: olivedrab;
}
/* ---------------------------BLOGS AND REVIEWS END--------------------------- */
/* ---------------------------BLOGS AND REVIEWS END--------------------------- */
/* ---------------------------BLOGS AND REVIEWS END--------------------------- */




/* ---------------------------CUSTOMER REVIEW SECTION START--------------------------- */
/* ---------------------------CUSTOMER REVIEW SECTION START--------------------------- */
/* ---------------------------CUSTOMER REVIEW SECTION START--------------------------- */
#customer-review-section {
    margin-top: 120px;
}
#customer-review-section .customer-review {
    height: auto;
    width: 100%;
    overflow: hidden;
    background: -o-linear-gradient(45deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('img/background/about.jpg');
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('img/background/about.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#customer-review-section .customer-review-title p {
    padding-top: 1.6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
#customer-review-section .customer-review-title p span {
    margin-left: 0.4rem;
    font-size: 1.2rem;
}
#customer-review-section .customer-review-wrap {
    display: -ms-grid;
    display: grid;
    width: 100%;
    height: auto;
    min-height: 560px;
    place-items: center;
}
#customer-review-section .customer-review-wrap .review-items {
    padding-top: 2rem;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}
#customer-review-section .review-items .review-content {
    margin: 1rem 1rem 3rem 0;
    padding: 1.4rem 1.4rem 3rem 1.4rem;
    height: auto;
    width: 630px;
    border: 1px solid white;
    background: white;
    border-radius: 1rem;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
#customer-review-section .review-items .review-content.close-review:nth-child(1) {
    position: absolute;
    top: 70%;
    left: 70%;
    -webkit-transform: translate(-70%, -70%);
    -ms-transform: translate(-70%, -70%);
    transform: translate(-70%, -70%);
}
#customer-review-section .review-items .review-content.close-review:nth-child(2) {
    position: absolute;
    top: 60%;
    left: 60%;
    -webkit-transform: translate(-60%, -60%);
    -ms-transform: translate(-60%, -60%);
    transform: translate(-60%, -60%);
}
#customer-review-section .review-items .review-content.close-review:nth-child(3) {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#customer-review-section .review-items .review-content.close-review:nth-child(4) {
    position: absolute;
    top: 40%;
    left: 40%;
    -webkit-transform: translate(-40%, -40%);
    -ms-transform: translate(-40%, -40%);
    transform: translate(-40%, -40%);
}
#customer-review-section .review-items .review-content.close-review:nth-child(5) {
    position: absolute;
    top: 30%;
    left: 30%;
    -webkit-transform: translate(-30%, -30%);
    -ms-transform: translate(-30%, -30%);
    transform: translate(-30%, -30%);
}
#customer-review-section .review-content .customer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
#customer-review-section .customer-info .customer-image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid white;
}
#customer-review-section .customer-image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border: 4px solid white;
    border-radius: 50%;
}
#customer-review-section .customer-info .customer-details {
    margin-left: 1rem;
}
#customer-review-section .customer-details .name {
    color: #2E2E3F;
    font-size: 1.6rem;
}
#customer-review-section .customer-details .country {
    color: #2E2E3F;
    font-size: 1.1rem;
    padding-top: 0.2rem;
    font-weight: bold;
}
#customer-review-section .review-content .review-text {
    margin-top: 1rem;
    color: #2E2E3F;
    font-size: 1.1rem;
}
#customer-review-section .review-text span {
    font-size: 1.4rem;
}
#customer-review-section .review-text span:first-child {
    margin-left: 1rem;
    margin-right: 0.4rem;
}
#customer-review-section .review-text span:last-child {
    margin-left: 0.4rem;
}
/* ---------------------------CUSTOMER REVIEW SECTION END--------------------------- */
/* ---------------------------CUSTOMER REVIEW SECTION END--------------------------- */
/* ---------------------------CUSTOMER REVIEW SECTION END--------------------------- */




/* ---------------------------CALL TO ACTION SECTION START--------------------------- */
/* ---------------------------CALL TO ACTION SECTION START--------------------------- */
/* ---------------------------CALL TO ACTION SECTION START--------------------------- */
#call-to-action-section .call-to-action {
    height: auto;
    width: 100%;
    background: white;
}
#call-to-action-section .call-to-action-wrap {
    padding: 4rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: url('img/background/call-to-action.jpg');
    background-size: cover;
    background-position: center;
}
#call-to-action-section .call-to-action-image {
    height: 420px;
    -ms-flex-preferred-size: 500px;
    flex-basis: 500px;
    border: 1px solid white;
}
#call-to-action-section .cta-image-content {
    position: relative;
    height: 100%;
    width: 100%;
    border: 3px solid white;
    border-radius: 0.2rem;
    -webkit-box-shadow: 0.4rem 0.4rem 1rem black;
    box-shadow: 0.4rem 0.4rem 1rem black;
}
#call-to-action-section .cta-image-content img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
#call-to-action-section .call-to-action-details {
    padding-left: 4rem;
    width: 50%;
}
#call-to-action-section .cta-save-per {
    color: crimson;
    font-size: 2.4rem;
    font-weight: 600;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#call-to-action-section .cta-offer-title, .cta-offer-price {
    color: #316131;
    font-size: 4rem;
    padding-top: 1rem;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#call-to-action-section .cta-offer-price {
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#call-to-action-section .cta-offer-msg {
    position: relative;
    color: #333333;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 1.4rem;
    display: inline-block;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#call-to-action-section .cta-offer-msg::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    height: 1rem;
    width: 100%;
    background: rgb(255, 0, 0, 0.4);
}
#call-to-action-section .cta-product-type {
    display: none;
}
#call-to-action-section .cta-button {
    margin: 2rem 0 0 0.4rem;
    color: white;
    font-size: 1.6rem;
    height: 3.6rem;
    width: 10rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0.1rem;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    background: #316131;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
/* ---------------------------CALL TO ACTION SECTION END--------------------------- */
/* ---------------------------CALL TO ACTION SECTION END--------------------------- */
/* ---------------------------CALL TO ACTION SECTION END--------------------------- */




/* ---------------------------CONTACT US SECTION START--------------------------- */
/* ---------------------------CONTACT US SECTION START--------------------------- */
/* ---------------------------CONTACT US SECTION START--------------------------- */
#contact-us-section .contact-section {
    height: 800px;
    width: 100%;
}
#contact-us-section .contact-section .image-area {
    height: 50%;
    width: 100%;
    background: -o-linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), 
    url('img/background/contact-bg.jpg');
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), 
    url('img/background/contact-bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#contact-us-section .contact-section .form-area {
    position: relative;
    height: 50%;
    width: 100%;
    background: white;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#contact-us-section .form-area .form-wrap {
    position: absolute;
    top: -78%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 620px;
    width: 1120px;
    background: url('img/background/contact.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 0.2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 0.4rem 0 gray;
    box-shadow: 0 0 0.4rem 0 gray;
}
#contact-us-section .form-wrap .title {
    padding-top: 2.4rem;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#contact-us-section .form-wrap .title h1 {
    color: #61790a;
    font-size: 2.6rem;
    text-align: center;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#contact-us-section .form-wrap .contact-area {
    padding-top: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#contact-us-section .contact-area .contact-info {
    width: 35%;
    height: 100%;
    margin-left: 6rem;
}
#contact-us-section .contact-info > h2 {
    padding-top: 0.2rem;
    margin-bottom: 1.4rem;
    color: #61790a;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#contact-us-section .contact-info > div {
    margin-bottom: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
#contact-us-section .contact-info > div > p {
    color: #333333;
    font-size: 1.4rem;
    font-weight: 500;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#contact-us-section .contact-info > div > span {
    color: #61790a;
    font-size: 2rem;
    margin-right: 0.8rem;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#contact-us-section .contact-area .contact-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 60%;
    height: auto;
    padding: 0 3rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#contact-us-section .contact-form .name-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
#contact-us-section .name-field .input-area {
    width: 48%;
}
#contact-us-section .contact-form .input-area {
    position: relative;
    margin-bottom: 2rem;
}
#contact-us-section .input-area input {
    padding: 0 1rem;
    height: 3rem;
    width: 100%;
    color: #333333;
    font-size: 1.2rem;
    border: 2px solid white;
    border-radius: 0.2rem;
    background: white;
    -webkit-box-shadow: 0 0 0.1rem #666;
    box-shadow: 0 0 0.1rem #666;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#contact-us-section .input-area label {
    position: absolute;
    top: 50%;
    left: 1rem;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #333333;
    font-size: 1.2rem;
    font-weight: 500;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#contact-us-section .input-area input:focus~label, .input-area input:valid~label {
    padding: 0.2rem 0.4rem;
    top: -0.7rem;
    left: 0;
    font-size: 1rem;
    color: white;
    background: rgb(10, 10, 10);
    border-radius: 0.1rem;
}
#contact-us-section .contact-form .message-area {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 200px;
    width: 100%;
}
#contact-us-section .message-area textarea {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 1.2rem;
    padding: 1rem;
    resize: vertical;
    color: #333333;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 0.1rem #666;
    box-shadow: 0 0 0.1rem #666;
    background: white;
    border: 2px solid none;
    border-radius: 0.2rem;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#contact-us-section .message-area label {
    position: absolute;
    color: #333333;
    font-weight: 500;
    font-size: 1.2rem;
    top: 1rem;
    left: 1rem;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#contact-us-section .message-area textarea:focus~label, .message-area textarea:valid~label {
    top: -1.4rem;
    left: 0;
    color: white;
    padding: 0.2rem 0.4rem;
    background: rgb(10, 10, 10);
    border-radius: 0.1rem;
    font-size: 1rem;
}
#contact-us-section .contact-form .btn {
    margin-top: 1.8rem;
}
#contact-us-section .contact-form .btn button {
    height: 3.2rem;
    width: 8rem;
    border: none;
    outline: none;
    color: white;
    font-size: 1.2rem;
    background: #61790a;
    border-radius: 0.1rem;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#contact.menu-active {
    padding-top: 2rem;
}
/* ---------------------------CONTACT US SECTION END--------------------------- */
/* ---------------------------CONTACT US SECTION END--------------------------- */
/* ---------------------------CONTACT US SECTION END--------------------------- */




/* ---------------------------FOOTER SECTION START--------------------------- */
/* ---------------------------FOOTER SECTION START--------------------------- */
/* ---------------------------FOOTER SECTION START--------------------------- */
#footer-section footer {
    background-color: #211E25;
}
/* ---------------------------FOOTER SECTION END--------------------------- */
/* ---------------------------FOOTER SECTION END--------------------------- */
/* ---------------------------FOOTER SECTION END--------------------------- */
