* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Josefin Sans', sans-serif;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body {
    position: relative;
    width: 100%;
}

/* ---------------------------HEADER SECTION START--------------------------- */
/* ---------------------------HEADER SECTION START--------------------------- */
/* ---------------------------HEADER SECTION START--------------------------- */
#header-section .navbar {
    background-color: whitesmoke;
}
#header-section .logo {
    margin-left: 4rem;
}
#header-section .logo > a {
    color: #316131;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
}
#header-section .logo > a > span {
    color: #316131;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
}
#header-section .navs {
    display: flex;
    margin-left: 18px;
}
#header-section .nav-link {
    margin-left: 25px;
    font-weight: bold;
    font-size: 1.10rem;
    transition: all 0.5s ease;
    color: #333333 !important;
    font-family: 'Work Sans', sans-serif;
}
#header-section .nav-link:hover {
    color: orangered !important;
}
#header-section .search-form {
    display: flex;
    margin-top: 3px;
    margin-left: 65px;
    height: 35px;
}
#header-section .glass {
    background-color: #316131;
    position: static;
    margin-right: 3px;
    width: 55px;
    height: 100%;
    border-radius: 2px;
}
#header-section .fa-magnifying-glass {
    color: white;
    font-size: 1.20rem;
    margin-top: 8px;
    margin-left: 19px;
}
#header-section .form-control {
    position: static;
    border-radius: 0px;
    border-style: none;
    width: 300px;
}
#header-section .socmeds {
    display: flex;
    margin-left: 25px;
}
#header-section .socmeds .fa-solid {
    font-size: 1.20rem;
    color: #333333;
    transition: all 0.5s ease;
}
#header-section .socmeds .fa-solid:hover {
    color: orangered !important;
}
/* ---------------------------HEADER SECTION END--------------------------- */
/* ---------------------------HEADER SECTION END--------------------------- */
/* ---------------------------HEADER SECTION END--------------------------- */




/* ---------------------------CAROUSEL SECTION START--------------------------- */
/* ---------------------------CAROUSEL SECTION START--------------------------- */
/* ---------------------------CAROUSEL SECTION START--------------------------- */
#carousel-section .scroll-ticker {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 24px;
    position: absolute;
    z-index: 2;
}
#carousel-section .scroll-ticker marquee > p {
    color: white;
    font-family: 'Work Sans', sans-serif;
}
#carousel-section .c-item {
    height: 480px;
}
#carousel-section .c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
} 
#carousel-section .carousel-caption .btn {
    background-color: #316131;
    color: white;
}
/* ---------------------------CAROUSEL SECTION END--------------------------- */
/* ---------------------------CAROUSEL SECTION END--------------------------- */
/* ---------------------------CAROUSEL SECTION END--------------------------- */




/* ---------------------------CARD TEXT SECTION START--------------------------- */
/* ---------------------------CARD TEXT SECTION START--------------------------- */
/* ---------------------------CARD TEXT SECTION START--------------------------- */
#card-text-section .new-arrivals-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
#card-text-section .new-arrivals {
    padding-top: 3rem;
    width: 99%;
    height: 300px;
}
#card-text-section .new-arrivals-news {
    width: 30%;
}
#card-text-section .new-arrivals-news h1 {
    color: #343236 !important;
    font-size: 2.6rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
    margin-left: 40px;
    padding-right: 1rem;
    line-height: 3rem;
    font-family: 'Work Sans', sans-serif;
}
#card-text-section .new-arrivals-news p {
    color: #343236 !important;
    font-size: 1.4rem;
    margin-left: 40px;
    font-weight: bold;
    margin-bottom: 0.8rem;
    font-family: 'Work Sans', sans-serif;
}
#card-text-section .new-arrivals-news button {
    margin-top: 0.4rem;
    color: white;
    margin-left: 40px;
    font-size: 1.2rem;
    height: 2.6rem;
    width: 8rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0.1rem;
    background: #316131;
    font-family: 'Work Sans', sans-serif;
}
#card-text-section .new-arrivals-products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 70%;
    overflow: hidden;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
#card-text-section .new-arrival-card {
    margin-left: 20px;
    position: relative;
    min-width: 305px;
    height: 100%;
    overflow: hidden;
    border-radius: 0.1rem;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
#card-text-section .new-arrival-card::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
}
#card-text-section .new-arrival-card-image {
    width: 100%;
    height: 100%;
}
#card-text-section .new-arrival-card-image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
#card-text-section .new-arrival-card-text {
    padding: 1rem 0 1rem 1.4rem;
    position: absolute;
    bottom: 1.6rem;
    left: 0rem;
    width: 14.4rem;
    border-left: 7px solid #459122;
    background: rgba(0, 0, 0, 0.7);
}
#card-text-section .new-arrival-card-text h3 {
    color: white;
    font-size: 1.6rem;
    text-shadow: 0.1rem 0.1rem 1rem #301934;
}
#card-text-section .new-arrival-card-text p {
    padding-top: 0.3rem;
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    text-shadow: 0.1rem 0.1rem 1rem #301934;
}
/* ---------------------------CARD TEXT SECTION END--------------------------- */
/* ---------------------------CARD TEXT SECTION END--------------------------- */
/* ---------------------------CARD TEXT SECTION END--------------------------- */




/* ---------------------------ABOUT SECTION START--------------------------- */
/* ---------------------------ABOUT SECTION START--------------------------- */
/* ---------------------------ABOUT SECTION START--------------------------- */
#about-section {
    margin-top: 60px;
}
#about-section .card-title > h4 {
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#about-section .card-title > h2 {
    color: #316131;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#about-section .card-title > p {
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#about-section .scroll-ticker {
    color: white;

    background: -o-linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url('img/background/green-bg.jpg');

    background: -webkit-gradient(linear, left top, left bottom, 
    from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('img/background/green-bg.jpg');

    background: linear-gradient(rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)), url('img/background/green-bg.jpg');

    background-size: cover;
    background-position: center;
    width: 100%;
    height: 24px;
    z-index: 2;
}
#about-section .scroll-ticker marquee > p {
    font-family: 'Work Sans', sans-serif;
}
#about-section .btn {
    color: white;
    margin-top: 14px;
    background: #316131;
    font-family: 'Work Sans', sans-serif;
}
/* ---------------------------ABOUT SECTION END--------------------------- */
/* ---------------------------ABOUT SECTION END--------------------------- */
/* ---------------------------ABOUT SECTION END--------------------------- */




/* ---------------------------SERVICES SECTION START--------------------------- */
/* ---------------------------SERVICES SECTION START--------------------------- */
/* ---------------------------SERVICES SECTION START--------------------------- */
#services-section {
    margin-top: 60px;
}
#services-section .card-title > h3 {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#services-section .card-title > p {
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#services-section .card-line {
    border-bottom: dashed gray;
}
#services-section .service-paragraph {
    display: flex;
}
#services-section .fa-solid {
    color: white;
    background-color: #316131;
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0 0 2px #888;
    padding: 0.5em 0.6em;
    margin-bottom: 15px;
}
#services-section .color-text {
    position: absolute;
    margin-left: 45px;
    margin-top: 4px;
}
#services-section .service-description-list {
    padding-top: 0.6rem;
}
#services-section .service-description-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
#services-section .service-description-list-item > p {
    margin-left: 0.6rem;
    padding: 0 0.2rem 0;
    position: relative;
    cursor: pointer;
}
#services-section .service-description-list-item:hover p {
    color: white;
}
#services-section .service-description-list-item p::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: olivedrab;
    border-radius: 0.1rem;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    z-index: -1;
}
#services-section .service-description-list-item:hover p::before {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    visibility: visible;
}
#services-section .service-list-item-title {
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#services-section .btn {
    color: white;
    margin-top: 14px;
    background: #316131;
    font-family: 'Work Sans', sans-serif;
}
/* ---------------------------SERVICES SECTION END--------------------------- */
/* ---------------------------SERVICES SECTION END--------------------------- */
/* ---------------------------SERVICES SECTION END--------------------------- */
